@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

h1 {
    color: #156fc8;
    color: rgb(170 192 215);
}


    header {
        background-color: black !important;
    }

    .bg-gray-50 {
        --bg-opacity: 1;
        background-color: #156fc8;
        background-color: rgb(170 192 215);
    }

    .rounded {
        border-radius: 0.375rem; 
    }
    
    .bg-gray-50:hover {
        background-color: #CCCCCC; 
        color: #000000; 
    }

    .bg-blue-500{
        --bg-opacity: 1;
        background-color: #156fc8;
        background-color: rgb(170 192 215);
    }

    .bg-blue-500:hover {
        background-color: #CCCCCC; 
        color: #000000; 
    }

    .background-image {
        height: 500px; 
    }
    
    .image-container img {
        height: 420px; 
    }
    
    .secondrounded-image img {
        border-radius: 10px;
    }

    .bg-gray-800 {
        --bg-opacity: 1;
        background-color: #000000;
        background-color: rgb(0 0 0);
    }

    .background-video {
        position: relative; 
        height: 500px; 
    }
    
    .background-video video {
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%;
        height: 100%;
        object-fit: cover; 
        z-index: -1; 
    }

    .bg-gray-100 {
        --bg-opacity: 1;
        background-color: #2950ac;
        background-color: rgb(212, 218, 226);
    }

    /* Add these styles to your CSS file */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.pr-8 {
    padding-right: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
}

.font-bold {
    font-weight: 700;
}

.text-lg {
    font-size: 1.125rem;
}

.leading-relaxed {
    line-height: 1.75;
}

.rounded-lg {
    border-radius: 0.5rem;
}

/* Add more styles as needed */
