@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

h1 {
    color: rgb(255, 255, 255) !important; 
}


    header {
        background-color: black !important;
    }

    .bg-gray-50 {
        --bg-opacity: 1;
        background-color: #156fc8;
        background-color: rgb(170 192 215);
    }

    .rounded {
        border-radius: 0.375rem; 
    }
    
    .bg-gray-50:hover {
        background-color: #CCCCCC; 
        color: #000000; 
    }

    .bg-blue-500{
        --bg-opacity: 1;
        background-color: #156fc8;
        background-color: rgb(170 192 215);
    }

    .bg-blue-500:hover {
        background-color: #CCCCCC; 
        color: #000000; 
    }

    .background-image {
        height: 500px; 
    }
    
    .image-container img {
        height: 420px; /* Adjust the height as needed */
    }
    
    .secondrounded-image img {
        border-radius: 10px; /* Adjust the border radius as needed */
    }